.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 12fr;
}

.navbar {
  background: #68a5a0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: stretch;
  cursor: pointer;
}

.navbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.navbar li {
  font-weight: 700;
  color: white;
  list-style-type: none;
}

.main-content {
  height: 100%;
  padding: 0 10px;
}

.accueil .header {
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
}